/*****MILESTONE WEBSITE PROJECT*****/

/*****BASE STYLES*****/

/***** #b80c09 red
#0b4f6c -unsaturated cyan
#75aec6 light blue
#fbfbff white
#040f16 black
*****/

body {
  background-color: #fbfbff /*****white*****/;
  color: #040f16;
  font-family: Roboto, sans-serif;
}



/*****GRID*****/
.full-width {
  width: 1400px;
  margin-left: 0px;
  margin-right: 0px;
}

.half-width {
  float:left;
  width: 700px;
}

.short-width-left {
  width: 600px;
  float:left;
  margin-right: 10px;
  clear: both;
}

.short-width-right {
  width: 600px;
  float:right;
  margin-left: 10px;
}

/*****HEADER*****/
header {
  /*****height: 30px;*****/
  margin-bottom: 0px;
}

h2 {
  color: #040f16;
  /*****font-family: 'Raleway', sans-serif;*****/
}

header h2 {
  font-size: 30px;
  padding-left: 0px;
  padding-right: 150px;
  margin-bottom: 15px;
}

nav ul li {
  display: inline-block;
  margin-right: 30px;
  margin-top: 25px;
}

nav ul li a {
  color: #040f16;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

nav {
  float: right;
}


/*****MAIN*****/
#hero img {
  background: url('../img/full-background.png');
  background-size: cover;
  height: 450px;
  margin-bottom: 15px;
  margin-top: 0px;

}

#hero h1 {
  color: #040f16;
  /*****color: #fbfbff;*****/
  /*****font-family: 'Raleway', sans-serif;*****/
  font-size: 110px;
  width: 850px;
  clear: both;
  line-height: 95px;
  padding: 0px 0 20px 70px;
  margin-top: -380px;
}

span {
  /*****font-size: 100px;*****/
}

h2 {
  color: #040f16;
  font-size: 36px;
  text-align: center;
}

h3, p, header {
  font-family: 'Roboto', sans-serif;
}

/*****.span-color {
  color: #fbfbff;
}*****/

#portfolio {
  height: 2550px;
}

.portfolio-boxes-wrapper {
  height: 400px;
  margin: 25px 50px;
  width: 1300px;
}

#portfolio h3 {
  margin: 20px 0 0 0;
  padding: 90px 0 5px 170px;
}

#portfolio p {
  padding-left: 170px;
}

#portfolio img {
  width:300px;
  height:300px;
  margin: 25px 0;
  padding-left: 50px;
}

#collaborative-divorce {
  background-color: #0b4f6c;
  overflow: auto;
  color: #fbfbff;
}

#culture-shocks {
  background-color: #b80c09;
  overflow: auto;
  color: #fbfbff;
}

#thinkspace {
  background-color: #75aec6;
  overflow: auto;
  color: #fbfbff;
}

#newbies {
  background-color: #0b4f6c;
  overflow: auto;
  color: #fbfbff;
}

#split-page {
  background-color: #b80c09;
  overflow: auto;
  color: #fbfbff;
}

#designer-loves-to-code {
  background-color: #75aec6;
  overflow: auto;
  color: #fbfbff;
}


/*****ABOUT*****/
#about {
  height: 450px;
}

#about p {
  /*****margin-right: 70px;*****/
  padding-left: 180px;
  padding-top: 60px;
  text-align: justify;
  width: 550px;
}

#about img {
  border-radius: 50%;
  margin-left: 60px;
  padding-left: 40px;
  padding-right: 40px;
  width: 360px;
}

/*****CONNECT*****/

#connect {
  height: 270px;
}

#connect p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}


#connect ul li {
  display: inline-block;
  margin: 0 50px;
}

#connect ul {
  padding: 0 475px;
  width: 500px;
}

#connect a {
  color: #040f16;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}


/***** FOOTER *****/
#footer {
  border-top: 3px solid #b80c09;
  height: 60px;
}

#footer p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}


/***** ADDITIONAL PAGES *****/

/***** COLLABORATIVE DIVORCE TACOMA PORTFOLIO PAGE *****/

#case-study-info {
  padding: 0px 100px;
}

#case-study-info h1 {
  font-size: 50px;
  padding-top: 130px;
  text-align: center;
}

#case-study-info img {
  margin: 20px 0px;
  width: 1200px;
}

#case-study-info h2 {
  font-size: 28px;
  text-align: left;
}

#case-study-info p, li {
  font-size: 18px;
  margin: 8px 0px;
  padding: 5px;
  text-align: justify;
}

#case-study-info ul {
  padding: 0px 40px;
}

#bottom-navigation {
  height: 150px;
}

#bottom-navigation nav ul li {
  display: inline-block;
  margin-left: 55px;
  margin-top: 25px;
}

#bottom-navigation nav ul li a {
  color: #040f16;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
}

#bottom-navigation nav {
  float: left;
}


/***** CULTURE SHOCKS PORTFOLIO PAGE *****/

/***** THINKSPACE PORTFOLIO PAGE *****/

/***** ADVICE FOR NEWBIES PORTFOLIO PAGE *****/

/***** ART & DESIGN PORTFOLIO PAGE *****/


/***** WEB DESIGN PORTFOLIO PAGE *****/

#case-study-info {
  padding: 0px 100px;
}

#case-study-info h1 {
  font-size: 50px;
  padding-top: 130px;
  text-align: center;
}

#case-study-info img {
  margin: 20px 0px;
  width: 1200px;
}

#case-study-info h2 {
  font-size: 28px;
  text-align: left;
}

#case-study-info p {
  font-size: 18px;
  margin: 8px 0px;
  padding: 5px;
  text-align: justify;
} /***** THIS ONE IS DIFFERENT - CHECK AND COMPARE *****/

#bottom-navigation {
  height: 150px;
}

#bottom-navigation nav ul li {
  display: inline-block;
  margin-left: 55px;
  margin-top: 25px;
}

#bottom-navigation nav ul li a {
  color: #040f16;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
}

#bottom-navigation nav {
  float: left;
}
