/*****BASE STYLES*****/

/***** #b80c09 red
#0b4f6c -unsaturated cyan
#75aec6 light blue
#fbfbff white
#040f16 black
*****/

body {
  background-color: #fbfbff /*****white*****/;
  color: #040f16;
  font-family: Roboto, sans-serif;
}



/*****GRID*****/
.full-width {
  width: 1400px;
  margin-left: 0px;
  margin-right: 0px;
}

.half-width {
  float:left;
  width: 700px;
}

/*****short-width div which is just for inside portfolio boxes? fits in 1300 to float text and images?*****/

.short-width-left {
  width: 600px;
  float:left;
  margin-right: 10px;
  /*****padding-left:100px;*****/
  clear: both;
}

.short-width-right {
  width: 600px;
  float:right;
  margin-left: 10px;
  /*****padding-right:100px;*****/
}

/*****HEADER*****/
header {
  /*****height: 30px;*****/
  margin-bottom: 0px;
}

h2 {
  color: #040f16;
  /*****font-family: 'Raleway', sans-serif;*****/
}

header h2 {
  padding-left: 0px;
  padding-right: 150px;
  margin-bottom: 15px;
}

nav ul li {
  display: inline-block;
  margin-right: 30px;
  margin-top: 25px;
}

nav ul li a {
  color: #040f16;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

nav {
  float: right;
}


/*****MAIN*****/
#hero img {
  background: url('../img/full-background.png');
  background-size: cover;
  height: 450px;
  margin-bottom: 15px;
  margin-top: 0px;

}

#hero h1 {
  color: #040f16;
  font-size: 110px;
  width: 850px;
  clear: both;
  line-height: 95px;
  padding: 0px 0 20px 70px;
  margin-top: -380px;
}

span {
  /*****font-size: 100px;*****/
}

h2 {
  color: #040f16;
  font-size: 36px;
  text-align: center;
}

h4, p, header {
  font-family: 'Roboto', sans-serif;
}

.span-color {
  color: #fbfbff;
}

#portfolio {
  height: 2950px;
}

.portfolio-boxes-wrapper {
  height: 400px;
  margin: 50px 50px 50px 50px;
  /*****overflow: auto;*****/
  width: 1300px;
}


#portfolio h3 {
  margin: 20px 0 0 0;
  padding: 90px 0 5px 170px;
}

#portfolio p {
  /*****padding-bottom: 50px;*****/
  padding-left: 170px;
}

#portfolio img {
  /*****float:right;*****/
  width:300px;
  height:300px;
  margin: 25px 0 25px 0;
  padding-left: 50px;
}

#culture-shocks {
  background-color: #040f16;
  /*****make whole box a link - possible?*****/
  overflow:auto;
  color: #fbfbff;
}
