/*****MILESTONE WEBSITE PROJECT*****/

/*****BASE STYLES*****/

/***** #b80c09 red
#0b4f6c -unsaturated cyan
#75aec6 light blue
#fbfbff white
#040f16 black
*****/

body {
  background-color: #fbfbff /*****white*****/;
  color: #040f16;
  font-family: Roboto, sans-serif;
}



/*****GRID*****/
.full-width {
  width: 1400px;
  margin-left: 0px;
  margin-right: 0px;
}

.half-width {
  float:left;
  width: 700px;
}

.short-width-left {
  width: 600px;
  float:left;
  margin-right: 10px;
  clear: both;
}

.short-width-right {
  width: 600px;
  float:right;
  margin-left: 10px;
}

/*****HEADER*****/
header {
  /*****height: 30px;*****/
  margin-bottom: 0px;
}

h2 {
  color: #040f16;
  /*****font-family: 'Raleway', sans-serif;*****/
}

header h2 {
  font-size: 30px;
  padding-left: 0px;
  padding-right: 150px;
  margin-bottom: 15px;
}

nav ul li {
  display: inline-block;
  margin-right: 30px;
  margin-top: 25px;
}

nav ul li a {
  color: #040f16;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

nav {
  float: right;
}


/*****MAIN*****/
#hero img {
  background: url('../img/full-background.png');
  background-size: cover;
  height: 450px;
  margin-bottom: 15px;
  margin-top: 0px;

}

#hero h1 {
  color: #040f16;
  /*****font-family: 'Raleway', sans-serif;*****/
  font-size: 110px;
  width: 850px;
  clear: both;
  line-height: 95px;
  padding: 0px 0 20px 70px;
  margin-top: -380px;
}

span {
  /*****font-size: 100px;*****/
}

h2 {
  color: #040f16;
  font-size: 36px;
  text-align: center;
}

h3, p, header {
  font-family: 'Roboto', sans-serif;
}

.span-color {
  color: #fbfbff;
}

#portfolio {
  height: 2550px;
}

.portfolio-boxes-wrapper {
  height: 400px;
  margin: 25px 50px 25px 50px;
  width: 1300px;
}

#portfolio h3 {
  margin: 20px 0 0 0;
  padding: 90px 0 5px 170px;
}

#portfolio p {
  padding-left: 170px;
}

#portfolio img {
  width:300px;
  height:300px;
  margin: 25px 0 25px 0;
  padding-left: 50px;
}

#culture-shocks {
  background-color: #040f16;
  overflow: auto;
  color: #fbfbff;
}

#newbies {
  background-color: #b80c09;
  overflow: auto;
  color: #fbfbff;
}

#split-page {
  background-color: #0b4f6c;
  overflow: auto;
  color: #fbfbff;
}

#rogue-pickings {
  background-color: #75aec6;
  overflow: auto;
  color: #fbfbff;
}

#jubilee-austen {
  background-color: #b80c09;
  overflow: auto;
  color: #fbfbff;
}

#thinkspace {
  background-color: #0b4f6c;
  overflow: auto;
  color: #fbfbff;
}

/*****ABOUT*****/
#about p {
  padding-left: 200px;
  width: 450px;
}

#about img {
  border-radius: 50%;
  padding-left: 100px;
  padding-right: 70px;
  width: 270px;
}

/*****CONNECT*****/
#connect p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}


#connect ul li {
  display: inline-block;
  margin: 0 200px 0 200px;
}

#connect ul {
  /*****list-style: none;*****/
}

#connect ul li a {
  color: #040f16;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
